<div class="row mb-3">
  <div class="col-md-12">
    <h3>
      Cities
    </h3>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <% @venues.each do |venue| %>
      <ul>
        <li>
          <a href="/cities/<%= venue.city %>"><%= venue.city %></a>
        </li>
      </ul>
      <% end %>
  </div>
</div>

<hr>
